<div id="about" class="card card-hover bg-dark-accent">
	<div id="profile-container" class="px-2 text-center">
		<img id="profile-img" src="{{ site.assets.img | append: 'site/carlos-estrada.jpg' }}" 
		class="rounded-circle">
	</div>
	
	<div class="pt-3 pb-4 px-4">
		{% capture my_include %}{% include bio.md %}{% endcapture %}
		{{ my_include | markdownify }}
		<a href="{{ site.assets.files | append: 'resume-02-2019.pdf' }}" class="btn btn-block btn-info">
			<i class="fas fa-file-download mr-2"></i>Download Resume
		</a>
	</div>
</div>