<!-- <footer class="container text-center pt-4 pb-5">
	<div class="mb-3">
		<a href="{{ site.url }}">
			<span class="logo-40 svg-light">{% include logo.svg %}</span>
		</a>
	</div>
	<p class="m-0">&copy; 2019 Carlos Estrada.</p>
</footer> -->
<footer class="bg-dark-accent py-4">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6 text-center text-md-left mb-3 my-md-auto">
				<a href="{{ site.url }}">
					<span class="svg-light logo-40">{% include logo.svg %}</span>
				</a>
			</div>

			<div class="col-12 col-md-6 my-auto">
				<p class="m-0 text-muted text-center text-md-right">
					Copyright &copy; 2019 Carlos Estrada. All rights reserved.
				</p>
			</div>
		</div>
	</div>
</footer>
<script type="application/ld+json">
{
	"@context": "https://schema.org/",
	"@type": "Person",
	"name": "Carlos Estrada",
	"url": "https://caestrada.com",
	"image": "https://caestrada.com/assets/img/site/carlos-estrada.jpg",
	"sameAs": [
		"https://twitter.com/cestrrada",
		"https://linkedin.com/in/cestrrada",
		"https://github.com/cestrrada",
		"https://caestrada.com"
	],
	"jobTitle": "Developer & Designer"  
}
</script>