// Default: dark theme

.bg-theme {
	background-color: var(--dark);
}

.bg-theme-accent {
	background-color: var(--dark-accent);
}

.text-theme {
	color: var(--light);
}

.svg-theme svg path {
	fill: #cecece;
}

.border-theme {
	border-color: $dark !important;
}

.divider-theme {
	display: block;
	height: 1px;
	width: 100%;
	@extend .my-4;
	background-color: $dark;
}

// Prefers light theme

@media (prefers-color-scheme: light) {
	.bg-theme {
		background-color: var(--white);
	}

	.bg-theme-accent {
		background-color: var(--light);
	}

	.text-theme {
		color: var(--dark);
	}

	.svg-theme svg path {
		fill: darken($text-muted, 20%);
	}

	.btn-light {
		color: rgba($color: #000000, $alpha: 0.85) !important;
		background-color: rgba($color: #000000, $alpha: 0.85 - 0.7) !important;

		&:hover {
			background-color: rgba($color: #000000, $alpha: 0.85 - 0.5) !important;
		}
	}

	article a {
		color: $link-color;
		border-radius: .2rem;
		font-weight: 500;
		
		&:hover {
			transition: .25s;
			color: darken($link-color, 10%);;
		}
	}

	.social-icon .fab, .social-icon .fas {
		color: darken($text-muted, 10%) !important;

		&:hover {
			color: $dark !important;
		}
	}

	.border-theme {
		border-color: $gray-300 !important;
	}

	.divider-theme {
		background-color: $gray-300;
	}

	.card-shadow {
		-webkit-box-shadow: 0px 15px 30px -15px rgba(0,0,0,0.5);
		-moz-box-shadow: 0px 15px 30px -15px rgba(0,0,0,0.5);
		box-shadow: 0px 15px 30px -15px rgba(0,0,0,0.5);
	}
}