@import "bootstrap";
@import "components";
@import "logo";
@import "project";

.text-decoration-none, .text-decoration-none:hover {
	text-decoration: none;
}

.text-header-sm {
	font-weight: 400;
	letter-spacing: .2em;
	text-transform: uppercase;
	color: $text-muted;
}

#site-info {
	padding-bottom: 7rem;
	
	.social-icons {
		font-size: 1.75em;
	}
}

#portfolio {
	margin-top: -7rem;
}