@import "theme";
@import "bootstrap/bootstrap";
@import "override";
@import "components";
@import "logo";
@import "project";

.text-decoration-none, .text-decoration-none:hover {
	text-decoration: none;
}

#site-info {
	padding-bottom: 12rem;
	
	.social-icon {
		font-size: 1.75em;
		
		.fab, .fab:hover, .fas, .fas:hover { transition: .25s; }
		.fa-twitter:hover { color: #1da1f2 !important; }
		.fa-github:hover { color: $gray-500 !important; }
		.fa-behance:hover { color: #1769ff !important; }
		.fa-linkedin-in:hover { color: #00a0dc !important; }
		.fa-envelope:hover { color: $gray-500 !important; }
	}
}

#portfolio {
	margin-top: -12rem;
}

$image-size: 128px;

#profile-container img {
	width: $image-size;
	height: $image-size;
	transition: .5s;
	margin-top: -$image-size / 2;
	
	&:hover, &:active, &:focus {
		transition: .5s;
		box-shadow: 0 0 0 10px rgba(mix(color-yiq($light), $light, 15%), .5);
	}
}