@import "new-colors";
@import "bootstrap/bootstrap";
@import "override";
@import "components";
@import "logo";
@import "project";
@import "theme";

.text-decoration-none, .text-decoration-none:hover {
	text-decoration: none;
}

#site-info {
	.social-icon {
		font-size: 1.75em;

		.fab, .fas {
			color: darken($white, 20%);
			transition: .25s;

			&:hover {
				color: $white;
				transition: .25s;
			}
		}
	}
}

$image-size: 128px;

#profile-container img {
	width: $image-size;
	height: $image-size;
	transition: .5s;
	margin-top: -$image-size / 2;
	
	&:hover, &:active, &:focus {
		transition: .5s;
		box-shadow: 0 0 0 10px rgba(mix(color-yiq($light), $light, 15%), .5);
	}
}