<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body class="bg-dark text-light">
		{% assign featured = site.assets.img | append: page.featured %}
		<header class="project-bg" style="background-image: url({{ featured }});"></header>
			
		<main id="project" class="container">
			<article class="row">
				<div class="col-12 col-lg-8 mx-auto">
				
					<div class="card card-shadow bg-dark-accent">
						<div class="card-body p-4 p-md-5">
						<h1 class="display-4 mb-0 text-center">{{ page.title }}</h1>
							<div id="project-info" class="mb-4 text-center">
								<div class="byline text-muted my-2">
									<p class="m-0">{{ page.category }} •
										<time itemprop="pubdate">{{ page.date | date: '%B %d, %Y'}}</time>
									</p>
								</div>
								<p class="mb-2 text-muted">
									{% if page.version %} Version: {{ page.version }} {% endif %}
								</p>
								
								{% for btn in page.buttons %}
									<a href="{{ btn.url }}" class="btn {{ btn.color }} btn-primary m-2" aria-label="{{ btn.name }}">
										<i class="{{ btn.icon }} mr-2"></i>
										{% if btn.name == "github" %}
											{{ btn.url | split: "https://github.com/" }}
										{% else %}
											{{ btn.name }}
										{% endif %}
									</a>
								{% endfor %}
							</div>
							
							{{ content }}
							
							<div class="project-img-container mt-4">
								{% assign images = site.assets.img | append: page.slug | append: "/" %}
								{% for image in site.static_files %}
									{% if image.path contains images and image.path != featured %}
										<img class="project-img" src="{{ image.path }}" alt="{{image.path | replace: '-', ' ' | replace: images, '' | capitalize }}"/>
									{% endif %}
								{% endfor %}
							</div>
						</div>
					</div>
					
				</div><!-- col -->
			</article><!-- row -->
		</main>
		{% include footer.html %}
	</body>
</html>