<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body class="bg-theme text-theme">
		{% assign featured = site.assets.img | append: page.featured %}
		<header class="project-bg" style="background-image: url({{ featured }});"></header>
			
		<main class="container mt-4 mb-5">
			<article class="row">
				<div class="col-12 col-md-10 mx-auto">
					<h1 class="display-4 font-weight-bold">{{ page.title }}</h1>
					<div class="byline text-muted my-2">
						<h5 class="m-0">{{ page.category }} •
							<time itemprop="pubdate">{{ page.date | date: '%B %d, %Y'}}</time>
						</h5>
					</div>
					<h5 class="mb-2 text-muted">
						{% if page.version %} Version: {{ page.version }} {% endif %}
					</h5>

					{% for btn in page.buttons %}
						<a href="{{ btn.url }}" class="btn {{ btn.color }} btn-primary my-3 mr-2" aria-label="{{ btn.name }}">
							<i class="{{ btn.icon }} mr-2"></i>
							{% if btn.name == "github" %}
								{{ btn.url | split: "https://github.com/" }}
							{% else %}
								{{ btn.name }}
							{% endif %}
						</a>
					{% endfor %}

					<div class="divider-theme"></div>

					{{ content }}

					<div class="divider-theme"></div>

					<h3>Screenshots</h3>
					<div class="project-img-container mt-4">
						{% assign images = site.assets.img | append: page.slug | append: "/" %}
						{% for image in site.static_files %}
							{% if image.path contains images and image.path != featured %}
								<img class="project-img border border-theme" src="{{ image.path }}" alt="{{image.path | replace: '-', ' ' | replace: images, '' | capitalize }}"/>
							{% endif %}
						{% endfor %}
					</div>

				</div>
			</article><!-- row -->
		</main>
		{% include footer.html %}
	</body>
</html>